@font-face {
  font-family: "Outfit-Bold";
  src: url(./fonts/Outfit-Bold.ttf);
}

@font-face {
  font-family: "Outfit-Regular";
  src: url(./fonts/Outfit-Regular.ttf);
}

body {
  background-color: hsl(212, 45%, 89%);
}

.card {
  width: 275px;
  height: 440px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  text-align: center;
}

.card h2 {
  font-family: "Outfit-Bold";
  font-size: 20px;
  padding: 0px 13px 0px 13px;
  color: #1f3251;
}

.card p {
  font-family: "Outfit-Regular";
  font-size: 15px;
  color: #6e6e6e;
  padding: 0px 5px 0px 5px;
}

.box img {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  border-radius: 10px;
}
